.container {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 80vh;
  padding: 4rem;
  flex-direction: column;
  justify-content: 'center';
  align-items: center;
  background-color: #f4f4f4;
  text-align: center;
  
}

.navbar {
  background-color: #d8d8d8;
  padding: 10px;
}

.navbarLogo {
  margin-left: 15px;
  float: left;
}

.window {
  display: flex;
  flex-wrap: nowrap; /* default, no wrap */
  flex-direction: column;

  align-items: left;
  background-color: white;
  width: 100%;
  height: 90%;
  min-height: 750px;

}

.windowConfirmation {
  display: flex;
  flex-wrap: nowrap; /* default, no wrap */
  flex-direction: column;

  align-items: left;
  background-color: white;
  width: 100%;
  height: 90%;
  min-height: 750px;

  flex: 1;

  justify-content: center;
  align-items: center;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.yellowButton {
  background-color: #ffcc00;
  border-radius: 50%/10%;
  padding: 8px 12px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .buttonContainer {
      flex-wrap: wrap;
  }
  .button {
      width: 100%;
      margin-bottom: 1rem;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupInner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 40%;
  margin: auto;
  background: white;
  padding: 40px;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
}

